
$color-black-shadows:       #BCABAE; /* hsl(349, 11%, 70%) */
$color-smoky-black:         #0F0F0F; /* hsl(0, 0%, 6%) */
$color-charleston-green:    #2D2C2D; /* hsl(300, 1%, 17%) */
$color-dim-gray:            #706869; /* hsl(353, 4%, 42%) */
$color-snow:                #F9F9F9; /* hsl(0, 0%, 98%) */

$padding-normal: 10px;

$font-family-body:      "Raleway", sans-serif;
$font-family-header:    "Abel", sans-serif;